	
	body
	{	
	
		font-family:'Roboto', sans-serif;
		font-size:16px;
		background-color:gray;
		max-width: 100%;
		max-height: 100%;
		margin: 0px;
		padding: 0px;
		
	}
	#logo{
		height: 100px;
	}
	.v-nav{
		width: 280px;
		height:757px;
		position: fixed;
		background-color: #242b2e;	
	}

	.v-nav ul{
		
		list-style-type: none;

	}
	.v-nav ul li a{
	text-decoration:none;	
	color:#ffffff;
	font-family:'Roboto:300', sans-serif;
	font-size:18px;
	display:block;
	background-color:#30383c;
	transition:0.5s;
	padding:10px 20px 10px 255px;
	float:right;
	cursor:pointer;
	}
	.v-nav ul li :last-child {
		border:1px solid rgb(77, 75, 75);
		border-radius:5px;
	}
	
	.v-nav ul li a:hover{

    color:#fff;
    background-color:#2bb6b4;  
	transform:scale(1.1,1.1);
	font-size:18px;
	font-weight:400;
	font-family:'Roboto:300', sans-serif;
}

#footer
{
	width:270px;
	position:absolute;
	left:0px;
	top:420px;
    position: fixed;
}

#footer ul
{
	list-style:none;
	padding-right:30px;
}
#footer ul li
{
	font-family:'Roboto:300', sans-serif;
	font-size:13px;
	display:block;
	padding-top:10px;
	float:right;
	padding-left:100px;
	cursor:pointer;
	
}
#footer a
{
	text-decoration:none;
	color:#6b7072;
}
#footer .filter
{
	font-family:'Roboto:300', sans-serif;
	font-size:19px;
	color:#1ab5b3;
}

#footer .filter img
{
margin-left:10px;
}


#footer .white-color
{
	color:white;
}
#footer ul li a:hover{
	cursor: pointer;
	transition: 0.3s;
	color: #2bb6b4;
}

 .social-icon
 {
	width:270px;
	left:0px;
	top:620px;
	position: fixed;
    
 }
 
 .social-icon ul
{
	list-style:none;
	padding-right:20px;
}
.social-icon ul li
{
	font-family:'Roboto:300', sans-serif;
	font-size:13px;
	display:inline-block;
	cursor:pointer;
	padding: 5px;
	margin-left:3px;

}

.social-icon ul li i
{
	font-size:24px;
}	
.social-icon p
{
	color:#6b7072;
	font-family:Roboto;
	font-size:12px;
	margin:20px 0px 0px 30px;
}

.grid
{
	display: grid;
	width:1320px;
	height: 757px; 	
	grid-template-columns:repeat(4, 0fr);
	grid-template-rows:repeat(3, 0fr);	
	float: right;
}
.grid-item
{
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	width:330px;	
	height: 252.33px;

}

.img{
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  text-decoration:none;
  transition:.5s ease;
  opacity:0;
  position:absolute;
  top:50%;
  left:58%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.six:hover .img 
{
  opacity: 0.3;
}

.six:hover .middle 
{
  opacity: 1;
}
.icon i
{
	color:#1ab5b3;
	font-size:100px;
	position:relative;
	bottom:10px;
	right:150px;
}

.contact
{
	width:300px;
	height:110px;
	background:#333333;
	position:absolute;
	right:0px;
	top:70px;
	z-index:1;
	opacity:0.8;	
}
.contact ul
{
	list-style:none;
	color:#ffffff;
	padding:16px;
}

.contact ul li
{
	padding:5px;
}


.contact ul li img
{
	margin-right:5px;
}

